<nav class="navbar" role="navigation">
  <div class="navbar-header">
    <h2 class ="navbar-brand">Search Results</h2>
  </div>

  <div class="search-results">
    <div class='poem'>
      <% @poems.each do |poem| %>
        <h4 class='title'><%= poem.title %></h4>
        <p class='author'><%= poem.author %></p>
        <ul class='tones'>
          <% poem.tones.each do |tone| %>
            <li><%= tone %></li>
          <% end %>
        </ul>
        <p class='text'><%= poem.text %></p>
      <% end %>
    </div>
  </div>
</nav>
